<h1 style="background-color:#4CD5FF; color:white; padding:3px 6px; border-radius:4px; font-weight:bold;">
Diabetes Predictive Model
</h1>

<h2 style="background-color:#8EEAFF; color:white; padding:3px 6px; border-radius:4px; font-weight:bold;">
About Dataset
</h2>

*This dataset is originally from the **National Institute of Diabetes and Digestive and Kidney Diseases**. The objective is to predict based on diagnostic measurements whether a patient has diabetes.*
*Several constraints were placed on the selection of these instances from a larger database. In particular, **all patients here are females at least 21 years old** of Pima Indian heritage.*

- **Pregnancies** - Number of times pregnant;
- **Glucose** - Plasma glucose concentration a 2 hours in an oral glucose tolerance test;
- **BloodPressure** - Diastolic blood pressure (mm Hg);
- **SkinThickness** - Triceps skin fold thickness (mm);
- **Insulin** - 2-Hour serum insulin (mu U/ml);
- **BMI** - Body mass index (weight in kg/(height in m)^2);
- **DiabetesPedigreeFunction** - Diabetes pedigree function;
- **Age** - Age (years);
- **Outcome** - Class variable (0 or 1);

<h2 style="background-color:#8EEAFF; color:white; padding:3px 6px; border-radius:4px; font-weight:bold;">
Importing Libraries
</h2>

In [4]:
import sqlite3
import os
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
from math import ceil

# data partition
from sklearn.model_selection import train_test_split

from itertools import product
from scipy.stats import skewnorm

from datetime import datetime
from sklearn.impute import KNNImputer

# for better resolution plots
%config InlineBackend.figure_format = 'retina' # optionally, you can change 'svg' to 'retina'

# Setting seaborn style
sns.set()

<h2 style="background-color:#8EEAFF; color:white; padding:3px 6px; border-radius:4px; font-weight:bold;">
Importing DataFrame
</h2>

In [5]:
df_diabetes = pd.read_csv("C:/Users/mariana/Documents/Personal_MVF/diabetes.csv", delimiter=',', header=0, decimal='.', quotechar='"')

<h2 style="background-color:#8EEAFF; color:white; padding:3px 6px; border-radius:4px; font-weight:bold;">
Data Exploration 
</h2>

In [6]:
df_diabetes.head()

,pregnancies,glucose,bloodpressure,skinthickness,insulin,bmi,diabetespedigreefunction,age,outcome
0,6,148,72,35,0,33.6,0.627,50,True
1,1,85,66,29,0,26.6,0.351,31,False
2,8,183,64,0,0,23.3,0.672,32,True
3,1,89,66,23,94,28.1,0.167,21,False
4,0,137,40,35,168,43.1,2.288,33,True

In [7]:
df_diabetes.tail()

,pregnancies,glucose,bloodpressure,skinthickness,insulin,bmi,diabetespedigreefunction,age,outcome
763,10,101,76,48,180,32.9,0.171,63,False
764,2,122,70,27,0,36.8,0.340,27,False
765,5,121,72,23,112,26.2,0.245,30,False
766,1,126,60,0,0,30.1,0.349,47,True
767,1,93,70,31,0,30.4,0.315,23,False

In [8]:
df_diabetes.describe()

,pregnancies,glucose,bloodpressure,skinthickness,insulin,bmi,diabetespedigreefunction,age
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000

In [9]:
df_diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   pregnancies               768 non-null    int64
 1   glucose                   768 non-null    int64
 2   bloodpressure             768 non-null    int64
 3   skinthickness             768 non-null    int64
 4   insulin                   768 non-null    int64
 5   bmi                       768 non-null    float64
 6   diabetespedigreefunction  768 non-null    float64
 7   age                       768 non-null    int64
 8   outcome                   768 non-null    bool
dtypes: bool(1), float64(2), int64(6)
memory usage: 48.9 KB

*No missing values!!*
*.....so far*

<h2 style="background-color:#8EEAFF; color:white; padding:3px 6px; border-radius:4px; font-weight:bold;">
Splitting Data
</h2>

*Defining the **independent variables in X** and defining the **dependent variable in y** (the target)*

In [10]:
X = df_diabetes.drop('outcome', axis = 1)
y = df_diabetes['outcome']

*Using the method **train_test_split** to split the dataset into a train dataset (70%) amd the test dataset (30%)*

In [11]:
X_train, X_val, y_train, y_val = train_test_split(X,y, test_size = 0.3, 
                                                  random_state = 0, 
                                                  stratify = y,
                                                  shuffle = True)

*For the next steps of preprocessing we will use X_train since we are using X_val to test if the model is suitable for this dataset* # TENHO DE TIRAR ISTO!!!!!

<h2 style="background-color:#8EEAFF; color:white; padding:3px 6px; border-radius:4px; font-weight:bold;">
Data types, duplicate/missing/unique values, typecasting, feature stats
</h2>

In [12]:
X_train.dtypes

pregnancies                   int64
glucose                       int64
bloodpressure                 int64
skinthickness                 int64
insulin                       int64
bmi                         float64
diabetespedigreefunction    float64
age                           int64
dtype: object

*We should correct the data type of 'glucose' as it appears to be a float instead of a integer. The remainder seem to be correctly assigned.*

In [13]:
X_train['glucose'] = X_train['glucose'].apply(lambda x: float(x) if pd.notna(x) else x)

*Now the type of the variable 'glucose' is corrected*

In [14]:
X_train.replace("", np.nan, inplace=True) #Replacing empty strings with NaN values
X_train.isna().sum() #Checking the number of missing values in each feature of the dataset X

pregnancies                 0
glucose                     0
bloodpressure               0
skinthickness               0
insulin                     0
bmi                         0
diabetespedigreefunction    0
age                         0
dtype: int64

In [15]:
X_val.replace("", np.nan, inplace=True) 
X_val.isna().sum()

pregnancies                 0
glucose                     0
bloodpressure               0
skinthickness               0
insulin                     0
bmi                         0
diabetespedigreefunction    0
age                         0
dtype: int64

*Now we can firmly confirm there are no missing values on both datasets*

In [16]:
print("\nDuplicated values:", X_train.duplicated().sum())

Duplicated values: 0

In [17]:
print("\nDuplicated values:", X_val.duplicated().sum())

Duplicated values: 0

*There's no duplicated values on both datasets*

In [18]:
for i in X_train.columns:
    if X_train[i].dtype != 'object':
        print(f"{i} unique values:{X_train[i].unique()} |n")

pregnancies unique values:[10  2  0 13  1  9  4  5  7  3  8  6 11 12 17 15 14] |n
glucose unique values:[122. 158. 107.  76.  91. 106. 125. 130. 109. 187. 145. 119. 165. 147.
 120. 139.  81.  90.  94. 155. 102. 101. 137. 188. 128.  99. 174.  83.
  89. 157. 159. 111. 103. 168. 129. 143. 199. 114. 118.  78. 100. 112.
 142. 195.  68.  74. 135. 149.  80.  84. 191. 108.  96. 151. 144.  97.
 138. 171. 136. 104. 193. 162. 133.  95. 124. 110.  57. 141. 113.  88.
 161. 166. 186.  77.  93. 117.  92. 148. 115. 127. 163. 105. 180. 126.
 177. 116. 183. 179. 175. 173. 169.  71. 196. 194.  73. 156.  98.  79.
 131.  85. 182. 134. 154. 121.   0. 189.  82. 176. 181. 197. 146.  75.
 132.  86.  61.  72. 123. 152. 164. 184. 170. 140. 172. 167.  87.  62.
 160.  44. 190.] |n
bloodpressure unique values:[ 78  90  76  60  54  52  70  82  62  50  38  68  88  85  72  65  44  40
  58  66  74  64  46  30  84  86  56  75   0  80 122  48 104  24  61  96
  94  92 100 110  55  95 108  98] |n
skinthickness unique values:[31  0 25 18 41 33 19  8 13 54 17 15 32 22 27 20 35 37 24 28 26 23 48 38
 42 43 39 29 12 50 30 40 46 52 45 16 36 34 11 47 21 60 51 10 14 44 56 49
 63  7 99] |n
insulin unique values:[  0 100 122 129 392 120 110 182  50 210  76 480 540  94 168  83 194  71
 440 180 321 310  40  70 140  15  59  49  51 150 127  56 130 178 228  57
 144 192 135  90 204  66 156 375 245 160 115 215  16 175  54 225  42  25
 188 200 132 220 105 155 271 114 478 159 185 125 280  74  73  44  84  48
 145  78 165  53 190 166 255 158 293 370 176  81  64 402  79 465  23  75
  95 300  58 148 152  89 360  55  86  67 328  72 207 265 846  37  65  61
 170 193 235  82 510  29  60 191 325  96 285  45 231 579  77 106  68 600
 275 184 108 230 335  88 249  14  32  92  63 326 128 171  43 744 495  36] |n
bmi unique values:[27.6 31.6 45.3 32.8 25.2 31.2 28.9 39.1 35.8 33.9 23.1 22.2 35.  25.4
 22.3 30.4 42.8 29.6 22.1 30.1 34.9 24.7 40.7 38.7 30.8 35.7 43.1 47.9
 43.3 24.3 34.  32.9 29.3 28.1 39.4 27.4 28.7 27.5 36.8 25.  38.2 28.
 45.6 42.4 42.9 36.6 27.8 44.5 36.9 25.3 36.  30.9 20.1 25.1 30.  35.3
 52.3 23.2 42.3 34.2 39.5 37.2 35.5 22.4 26.1 40.5 28.2 36.1 24.  33.3
 21.8 37.4  0.  29.9 25.9 27.7 33.8 32.  25.5 33.5 28.4 49.6 37.7 26.8
 25.8 24.8 34.5 27.3 38.  24.2 27.  42.2 33.6 35.9 30.5 34.8 38.8 46.8
 41.8 34.7 49.7 39.  32.5 27.9 19.6 29.8 37.5 39.9 29.7 43.4 21.  34.6
 23.5 37.8 22.9 24.6 20.4 21.1 29.5 27.1 22.5 43.5 31.  29.  32.4 41.3
 33.1 40.6 24.9 46.2 23.7 32.1 34.4 20.  40.9 35.4 25.6 34.3 45.2 19.3
 23.6 38.4 19.9 21.2 33.7 23.9 40.  35.1 24.4 23.3 26.  37.1 31.1 67.1
 30.3 26.2 23.  19.1 24.5 26.5 35.2 39.3 42.  50.  26.9 23.8 30.7 53.2
 36.3 21.7 36.2 35.6 30.2 36.4 44.  39.7 48.8 48.3 33.2 39.2 46.1 18.4
 34.1 23.4 38.3 20.8 28.6 24.1 38.1 31.9 37.6 42.7 22.7 32.6 37.9 38.5
 18.2 45.8 28.8 26.3 39.8 26.6 42.1 28.5 46.3 40.2 36.5 28.3 59.4 32.3
 40.1 52.9 46.5 40.8 27.2 36.7 44.6 39.6 41.  38.9 26.7 21.9] |n
diabetespedigreefunction unique values:[0.512 0.805 0.686 0.18  0.234 0.38  1.144 0.956 0.514 0.826 0.407 0.245
 0.394 0.947 0.205 0.302 0.375 0.709 0.207 0.547 0.825 0.148 0.536 0.24
 0.4   0.198 2.288 0.137 1.224 0.221 0.499 0.593 0.767 0.167 0.134 0.171
 0.294 0.654 0.141 0.34  0.206 0.183 0.787 0.284 1.136 1.076 1.394 0.557
 0.178 0.247 0.904 0.434 0.658 0.546 0.175 0.128 0.328 0.257 1.268 0.464
 0.705 0.578 0.223 0.785 0.349 1.292 0.159 0.299 0.267 0.415 0.179 0.255
 0.677 0.443 0.966 0.199 0.613 0.155 0.399 0.649 0.174 0.722 0.655 0.851
 0.361 0.182 0.088 0.27  0.391 0.161 0.944 0.292 0.118 0.096 0.108 0.364
 0.244 0.278 0.151 0.766 0.258 0.455 0.674 0.368 0.165 0.587 0.237 0.423
 0.156 0.559 0.231 0.493 0.362 0.627 0.483 0.421 0.955 0.217 0.2   0.092
 0.808 0.695 0.833 0.259 0.962 0.598 0.742 0.29  0.325 1.222 0.187 0.878
 0.197 0.271 0.64  0.832 0.501 0.569 0.803 0.543 0.583 0.252 1.072 0.261
 0.232 0.212 0.326 0.97  0.741 0.286 0.268 0.856 0.323 0.605 0.745 0.342
 0.279 0.673 0.265 0.23  0.238 0.343 0.43  1.441 0.315 0.262 1.114 0.652
 0.235 0.678 0.163 0.204 0.874 0.307 0.495 0.426 0.698 0.229 0.126 0.324
 0.607 0.233 0.135 1.182 0.761 1.698 0.297 0.157 0.26  0.16  0.382 0.313
 0.345 0.385 0.744 0.601 0.293 0.085 0.19  0.612 0.1   0.528 0.236 0.549
 0.817 0.542 0.203 0.089 0.272 1.282 0.949 0.3   0.282 0.666 2.137 0.867
 0.162 0.196 0.188 0.435 0.417 0.498 0.467 0.452 0.905 1.258 0.465 0.209
 1.191 0.801 1.731 0.337 0.37  0.154 0.453 0.672 0.997 0.393 0.631 0.314
 0.344 0.186 0.496 0.239 1.021 1.39  0.614 0.254 0.398 0.192 0.917 0.319
 0.771 0.256 0.388 0.525 0.304 0.248 0.692 0.249 1.138 0.164 0.243 0.28
 0.595 0.251 0.507 0.839 0.241 0.665 0.551 0.704 0.153 0.347 1.893 0.191
 0.497 0.13  0.932 0.277 0.821 0.637 0.52  0.759 0.21  0.73  0.735 0.222
 0.341 1.127 0.816 0.731 0.46  0.732 0.355 0.503 0.968 0.404 0.403 0.123
 0.143 0.215 0.227 0.711 0.727 0.378 0.376 0.571 0.529 0.582 0.078 0.516
 0.855 0.527 0.484 0.419 0.702 0.269 0.42  0.447 0.457 0.629 0.509 0.717
 0.411 0.828 0.539 0.738 0.263 0.289 0.122 0.433 0.687 0.471 0.201 0.401
 1.6   0.845 0.466 0.121 0.412 0.933 0.565 0.572 0.129 0.218 0.22  1.022
 0.147 0.107 0.451 0.283 0.416 0.305 0.561 0.813 0.176 0.409 0.564 0.68
 1.251 1.096 0.588 0.365 0.383 0.696 0.084 0.875 0.554 0.225 0.17  0.145
 1.213 2.42  0.101 0.329 0.532 0.488 0.142 0.33  0.545 0.303 0.158 0.318
 0.693 0.743 0.408 0.335 0.374 1.159 0.699 0.893 1.461 0.58  0.773 0.575
 2.329 0.366 0.371 1.699 0.93  0.346 0.181 0.526 1.162 0.144 0.389] |n
age unique values:[45 66 24 41 23 42 37 25 34 26 57 29 21 49 56 33 43 31 30 36 63 40 22 27
 38 28 60 32 39 48 50 54 52 47 51 58 35 59 55 72 44 62 53 70 46 69 67 81
 68 61 65 64] |n

*Everything seems to be fine with the data, there's no missing values and all values are positive or zero. Regarding the variable 'age', it will be kept as it is because i believe 'age' has a non-linear relationship with diabetes, therefore it will be better for analysis to compare this varible with other variables, as well as, if i change 'age' to represent the year of birth and then change it back to correlate all variables it will make the model more complex, which is not the objective*

In [19]:
y_train = y_train.map(lambda x: int(x))
y_val = y_val.map(lambda x: int(x))

In [20]:
X_train.head()

,pregnancies,glucose,bloodpressure,skinthickness,insulin,bmi,diabetespedigreefunction,age
34,10,122.0,78,31,0,27.6,0.512,45
221,2,158.0,90,0,0,31.6,0.805,66
531,0,107.0,76,0,0,45.3,0.686,24
518,13,76.0,60,0,0,32.8,0.180,41
650,1,91.0,54,25,100,25.2,0.234,23

*For future implememntation of predictive model i made sure to convert the target from a boolean to a integer!*

<h2 style="background-color:#8EEAFF; color:white; padding:3px 6px; border-radius:4px; font-weight:bold;">
Data Undertanding
</h2>

#### Histograms

In [21]:
sp_rows = 2
sp_cols = 4